{
  "extends": [
    "standard-jsx",
    "@staccx"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-curly-brace-presence": "warn",
    "react/self-closing-comp": "warn",
    "no-unused-vars": "warn"
  }
}
